# Ignore editor folder
/.idea/
/.vscode/
.DS_Store

# Ignore minilibx files
libmlx/**/*.o
libmlx/**/*.swiftdoc
libmlx/**/*.swiftmodule
libmlx/**/*.swiftsourceinfo
libmlx.dylib

# Ignore libft obj
/libft/*.o

# Ignore obj
/objs/**/*.o

# Ignore executable
minirt